<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/brackets.css" rel="stylesheet">
</head>
<body>
    <div class="results">
        <p th:text="${response.input}"></p>
        <br>
        <p th:text="${response.RESULT}"></p>
        <br>
    </div>
    <div class="tryagain">
        <form th:action="@{/brackets}" method = "GET">
            <input type="text" th:name="brackets">
            <input type="Submit" value="Try Another">
        </form>
    </div>
</body>